In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("delhi_all")
df2 = pd.read_csv("mumbai_all")
df3 = pd.read_csv("kolkata_all")
df4 = pd.read_csv("kochi_all")
df5 = pd.read_csv("gurgaon_all")
df6 = pd.read_csv("ghaziabad_all")
df7 = pd.read_csv("ahmedabad_all")
df8 = pd.read_csv("noida_all")

In [3]:
df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8])

In [6]:
#df.to_csv("total_cars")

In [7]:
df_1 = pd.read_csv("total_cars")
df_2 = pd.read_csv("total_cars_data")

In [8]:
total_df = pd.concat([df_1,df_2],axis=0)

In [9]:
total_df.shape

(2890, 17)

In [10]:
# total_df.to_csv("total_used_cars")

In [17]:
total_df1 = total_df.drop(["Unnamed: 0.2","Unnamed: 0"],axis=1)
total_df1.drop["Unnamed: 0.1",axis=1]

,Unnamed: 0.1,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,0,CapitalUT,Delhi,2020,FORD,ECOSPORT,TITANIUM 1.5L DIESEL,Manual,Diesel,1st,15425,96075,9,5,789000
1,1,CapitalUT,Delhi,2016,Ford,Ecosport,1.5AMBIENTE TI VCT,Manual,Petrol,1st,10792,55017,9,5,552000
2,2,CapitalUT,Delhi,2018,FORD,ECOSPORT,AMBIENTE 1.5L DIESEL,Manual,Diesel,1st,13978,24931,9,5,715000
3,3,CapitalUT,Delhi,2019,FORD,ECOSPORT,TITANIUM 1.5L PETROL,Manual,Petrol,1st,15503,22270,9,5,793000
4,4,CapitalUT,Delhi,2015,Ford,Ecosport,TITANIUM 1.5L PETROL AT,Automatic,Petrol,2nd,10440,78906,9,5,534000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1070,46,Karnataka,Bangalore,2019,Maruti,New Wagon-R,ZXI,Automatic,Petrol,1st,12023,32221,16,5,615000
1071,47,Karnataka,Bangalore,2021,Maruti,New Wagon-R,LXI,Manual,CNG,1st,12023,22030,16,5,615000
1072,48,Karnataka,Bangalore,2019,Maruti,New Wagon-R,VXI,Automatic,Petrol,1st,12278,9723,16,5,628000
1073,49,Karnataka,Bangalore,2021,Maruti,New Wagon-R,LXI,Manual,CNG,1st,11984,28647,16,5,613000
1074,50,Karnataka,Bangalore,2022,Maruti,New Wagon-R,VXI,Manual,CNG,1st,14995,3084,16,5,767000

In [23]:
total_df1.reset_index(inplace=True)

In [25]:
total_df1.head()

,index,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,0,CapitalUT,Delhi,2020,FORD,ECOSPORT,TITANIUM 1.5L DIESEL,Manual,Diesel,1st,15425,96075,9,5,789000
1,1,CapitalUT,Delhi,2016,Ford,Ecosport,1.5AMBIENTE TI VCT,Manual,Petrol,1st,10792,55017,9,5,552000
2,2,CapitalUT,Delhi,2018,FORD,ECOSPORT,AMBIENTE 1.5L DIESEL,Manual,Diesel,1st,13978,24931,9,5,715000
3,3,CapitalUT,Delhi,2019,FORD,ECOSPORT,TITANIUM 1.5L PETROL,Manual,Petrol,1st,15503,22270,9,5,793000
4,4,CapitalUT,Delhi,2015,Ford,Ecosport,TITANIUM 1.5L PETROL AT,Automatic,Petrol,2nd,10440,78906,9,5,534000

In [26]:
total_df1.drop("index",axis=1,inplace=True)

In [27]:
total_df1.head()

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,CapitalUT,Delhi,2020,FORD,ECOSPORT,TITANIUM 1.5L DIESEL,Manual,Diesel,1st,15425,96075,9,5,789000
1,CapitalUT,Delhi,2016,Ford,Ecosport,1.5AMBIENTE TI VCT,Manual,Petrol,1st,10792,55017,9,5,552000
2,CapitalUT,Delhi,2018,FORD,ECOSPORT,AMBIENTE 1.5L DIESEL,Manual,Diesel,1st,13978,24931,9,5,715000
3,CapitalUT,Delhi,2019,FORD,ECOSPORT,TITANIUM 1.5L PETROL,Manual,Petrol,1st,15503,22270,9,5,793000
4,CapitalUT,Delhi,2015,Ford,Ecosport,TITANIUM 1.5L PETROL AT,Automatic,Petrol,2nd,10440,78906,9,5,534000

In [28]:
total_df1.isnull().sum()

state            0
city             0
year             0
make             0
model            0
series          17
transmission    17
fuel             0
owner            0
emi              0
kilometers       0
mileage          0
seating          0
price            0
dtype: int64

In [29]:
total_df1

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,CapitalUT,Delhi,2020,FORD,ECOSPORT,TITANIUM 1.5L DIESEL,Manual,Diesel,1st,15425,96075,9,5,789000
1,CapitalUT,Delhi,2016,Ford,Ecosport,1.5AMBIENTE TI VCT,Manual,Petrol,1st,10792,55017,9,5,552000
2,CapitalUT,Delhi,2018,FORD,ECOSPORT,AMBIENTE 1.5L DIESEL,Manual,Diesel,1st,13978,24931,9,5,715000
3,CapitalUT,Delhi,2019,FORD,ECOSPORT,TITANIUM 1.5L PETROL,Manual,Petrol,1st,15503,22270,9,5,793000
4,CapitalUT,Delhi,2015,Ford,Ecosport,TITANIUM 1.5L PETROL AT,Automatic,Petrol,2nd,10440,78906,9,5,534000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2885,Karnataka,Bangalore,2019,Maruti,New Wagon-R,ZXI,Automatic,Petrol,1st,12023,32221,16,5,615000
2886,Karnataka,Bangalore,2021,Maruti,New Wagon-R,LXI,Manual,CNG,1st,12023,22030,16,5,615000
2887,Karnataka,Bangalore,2019,Maruti,New Wagon-R,VXI,Automatic,Petrol,1st,12278,9723,16,5,628000
2888,Karnataka,Bangalore,2021,Maruti,New Wagon-R,LXI,Manual,CNG,1st,11984,28647,16,5,613000
2889,Karnataka,Bangalore,2022,Maruti,New Wagon-R,VXI,Manual,CNG,1st,14995,3084,16,5,767000