In [2]:
## importing required libraries
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import re
import warnings
warnings.filterwarnings("ignore")

In [4]:
### Maruthi Swift
## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Amaruti%3Bmodel%3Ain%3Aswift&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2&pinId=110001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    b = re.findall("\d+\s(\w+).*",a)
    make.append(b[0])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    b = re.findall("\d+\s\w+\s(.*)",a)
    model.append(b[0])

## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    b = a.split()[0]
    year.append(b)

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    series.append(a[:3]) 
    
## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    transmission.append(b[0][1])

# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))
    
# print(len(make)) 
# print(len(model))
# print(len(series))
# print(len(transmission))
# print(len(emi))
# print(len(fuel))
# print(len(price))
# print(len(owner))
# print(len(kilometers))
# print(len(year))

#city
city=["Delhi"]*20

# state
state = ["CapitalUT"]*20

# Mileage
mileage = [15]*20

# Seating
seating = [5]*20

d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}

used_cars_delhi_maruti_swift_data_collection = pd.DataFrame(d)
used_cars_delhi_maruti_swift_data_collection.head()
# used_cars_delhi_maruti_swift_data_collection.to_csv("delhi_maruti_swift.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,CapitalUT,Delhi,2010,Maruti,Swift,LXI,Manual,Petrol,1st,3715,32035,15,5,190000
1,CapitalUT,Delhi,2018,Maruti,SWIFT,ZXI,Manual,Petrol,1st,12219,28899,15,5,625000
2,CapitalUT,Delhi,2019,Maruti,Swift,VXI,Manual,Petrol,1st,11926,38163,15,5,610000
3,CapitalUT,Delhi,2018,Maruti,Swift,LDI,Manual,Diesel,1st,10244,51264,15,5,524000
4,CapitalUT,Delhi,2018,Maruti,Swift,VXI,Manual,Petrol,1st,11026,19972,15,5,564000

In [5]:
## Maruthi_Baleno

## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Amaruti%3Bmodel%3Ain%3Abaleno&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2&pinId=110001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    b = re.findall("\d+\s(\w+).*",a)
    make.append(b[0])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    b = re.findall("\d+\s\w+\s(.*)",a)
    model.append(b[0])

## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    b = a.split()[0]
    year.append(b)

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    series.append(a.split()[0])


## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    transmission.append(b[0][1])

# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

#print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year) 
# print(len(make)) 
# print(len(model))
# print(len(series))
# print(len(transmission))
# print(len(emi))
# print(len(fuel))
# print(len(price))
# print(len(owner))
# print(len(kilometers))
# print(len(year))

#city
city=["Delhi"]*20

# state
state = ["CapitalUT"]*20

# Mileage
mileage = [16]*20

# Seating
seating = [5]*20

d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}
used_cars_delhi_maruti_baleno_data_collection = pd.DataFrame(d)
used_cars_delhi_maruti_baleno_data_collection.head()
#used_cars_delhi_maruti_baleno_data_collection.to_csv("delhi_maruti_baleno")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,CapitalUT,Delhi,2016,Maruti,Baleno,SIGMA,Manual,Petrol,1st,9189,52538,16,5,470000
1,CapitalUT,Delhi,2018,Maruti,Baleno,DELTA,Manual,Petrol,1st,10186,60083,16,5,521000
2,CapitalUT,Delhi,2020,Maruti,Baleno,DELTA,Manual,Petrol,1st,11691,50211,16,5,598000
3,CapitalUT,Delhi,2016,Maruti,Baleno,SIGMA,Manual,Petrol,2nd,8798,59448,16,5,450000
4,CapitalUT,Delhi,2016,Maruti,Baleno,DELTA,Manual,Petrol,1st,9814,69292,16,5,502000

In [6]:
## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Amaruti%3Bmodel%3Ain%3Anew%20wagon-r&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2&pinId=110001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()    
    make.append(a[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split("Maruti")
    model.append(a[1])

## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    series.append(a[:3])

## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    transmission.append(b[0][1])


# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

#print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year) 
print(len(make)) 
# print(len(model))
# print(len(series))
# print(len(transmission))
# print(len(emi))
# print(len(fuel))
# print(len(price))
# print(len(owner))
# print(len(kilometers))
# print(len(year))

#city
city=["Delhi"]*20

# state
state = ["CapitalUT"]*20

# Mileage
mileage = [16]*20

# Seating
seating = [5]*20

d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}

used_cars_delhi_maruti_wagon_r_data_collection = pd.DataFrame(d)
used_cars_delhi_maruti_wagon_r_data_collection.head()

#used_cars_delhi_maruti_wagon_r_data_collection.to_csv("delhi_maruti_wagon_r.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,CapitalUT,Delhi,2021,Maruti,New Wagon-R,1.0,Manual,CNG,1st,11926,36929,16,5,610000
1,CapitalUT,Delhi,2020,Maruti,New Wagon-R,LXI,Manual,CNG,1st,10068,24440,16,5,515000
2,CapitalUT,Delhi,2020,Maruti,New Wagon-R,LXI,Manual,CNG,1st,9345,57894,16,5,478000
3,CapitalUT,Delhi,2022,Maruti,New Wagon-R,VXI,Manual,Petrol,1st,11965,3741,16,5,612000
4,CapitalUT,Delhi,2020,Maruti,New Wagon-R,LXI,Manual,CNG,1st,10401,41887,16,5,532000

In [8]:
###  Hyundai Grandi10
## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Ahyundai%3Bmodel%3Ain%3Agrand%20i10&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2&pinId=110001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    make.append(a.split()[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    b = re.findall(r"\d+\s\w+\s(\w+\s\w+)",a)
    model.append(b[0])
    
## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    series.append(b[0][0]) 
    
## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    transmission.append(b[0][1])

# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

# print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year) 
print(len(make)) 
# print(len(model))
# print(len(series))
# print(len(transmission))
# print(len(emi))
# print(len(fuel))
# print(len(price))
# print(len(owner))
# print(len(kilometers))
# print(len(year))

#city
city=["Delhi"]*20

# state
state = ["CapitalUT"]*20

# Mileage
mileage = [15]*20

# Seating
seating = [5]*20

# creating columns
d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}

## creating dataframe
used_cars_delhi_hyundai_grand_i10_data_collection = pd.DataFrame(d)
used_cars_delhi_hyundai_grand_i10_data_collection.head()

#used_cars_delhi_hyundai_grand_i10_data_collection.to_csv("delhi_hyundai_grand_i10.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,CapitalUT,Delhi,2015,HYUNDAI,GRAND I10,SPORTZ 1.2 KAPPA VTVT,Manual,Petrol,1st,7214,56871,15,5,369000
1,CapitalUT,Delhi,2016,Hyundai,Grand i10,SPORTZ 1.2 KAPPA VTVT,Manual,Petrol,1st,8387,41046,15,5,429000
2,CapitalUT,Delhi,2017,HYUNDAI,GRAND I10,Sportz1.2 CRDI,Manual,Diesel,1st,9775,68845,15,5,500000
3,CapitalUT,Delhi,2017,HYUNDAI,GRAND I10,MAGNA 1.2 VTVT,Manual,Petrol,1st,8661,16163,15,5,443000
4,CapitalUT,Delhi,2015,Hyundai,Grand i10,MAGNA 1.2 KAPPA VTVT,Manual,Petrol,1st,7605,57740,15,5,389000

In [11]:
### Hyundai elite_i20

## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Ahyundai%3Bmodel%3Ain%3Aelite%20i20&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2&pinId=110001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    make.append(a.split()[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    b = re.findall(r"\d+\s\w+\s(\w+\s\w+)",a)
    model.append(b[0])
    
## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    series.append(b[0][0]) 
    
## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    transmission.append(b[0][1])

# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

#print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year) 
print(len(make)) 
# print(len(model))
# print(len(series))
# print(len(transmission))
# print(len(emi))
# print(len(fuel))
# print(len(price))
# print(len(owner))
# print(len(kilometers))
# print(len(year))


#city
city=["Delhi"]*20

# state
state = ["CapitalUT"]*20

# Mileage
mileage = [12]*20

# Seating
seating = [5]*20


d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}

used_cars_delhi_hyundai_elite_i20_data_collection = pd.DataFrame(d)
used_cars_delhi_hyundai_elite_i20_data_collection.head()

#used_cars_delhi_hyundai_elite_i20_data_collection.to_csv("delhi_hyundai_elite_i20.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,CapitalUT,Delhi,2018,HYUNDAI,ELITE I20,MAGNA EXECUTIVE 1.2,Manual,CNG,1st,11202,78571,12,5,573000
1,CapitalUT,Delhi,2017,HYUNDAI,ELITE I20,ASTA 1.2 (O),Manual,Petrol,2nd,11476,50636,12,5,587000
2,CapitalUT,Delhi,2019,Hyundai,Elite i20,1.2 MAGNA PLUS VTVT,Manual,Petrol,2nd,12297,22634,12,5,629000
3,CapitalUT,Delhi,2018,HYUNDAI,ELITE I20,MAGNA EXECUTIVE 1.2,Manual,Petrol,2nd,11026,55117,12,5,564000
4,CapitalUT,Delhi,2018,Hyundai,Elite i20,SPORTZ 1.2,Manual,Petrol,1st,12571,52575,12,5,643000

In [12]:
### Hyundai new_santro

## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Ahyundai%3Bmodel%3Ain%3Anew%20santro&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2&pinId=110001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    make.append(a.split()[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    b = re.findall(r"\d+\s\w+\s(\w+\s\w+)",a)
    model.append(b[0])
    
## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    series.append(b[0][0]) 
    
## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    transmission.append(b[0][1])

# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

#print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year) 
print(len(make)) 
# print(len(model))
# print(len(series))
# print(len(transmission))
# print(len(emi))
# print(len(fuel))
# print(len(price))
# print(len(owner))
# print(len(kilometers))
# print(len(year))


#city
city=["Delhi"]*20

# state
state = ["CapitalUT"]*20

# Mileage
mileage = [13]*20

# Seating
seating = [5]*20


d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}

used_cars_delhi_hyundai_new_santro_data_collection = pd.DataFrame(d)
used_cars_delhi_hyundai_new_santro_data_collection.head()

#used_cars_delhi_hyundai_elite_i20_data_collection.to_csv("delhi_hyundai_elite_i20.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,CapitalUT,Delhi,2020,Hyundai,NEW SANTRO,SPORTZ AMT,Automatic,Petrol,1st,10968,35686,13,5,561000
1,CapitalUT,Delhi,2022,HYUNDAI,NEW SANTRO,SPORTZ EXECUTIVE MT CNG,Manual,CNG,1st,11574,15976,13,5,592000
2,CapitalUT,Delhi,2018,Hyundai,NEW SANTRO,SPORTZ CNG,Manual,CNG,1st,9169,66932,13,5,469000
3,CapitalUT,Delhi,2019,HYUNDAI,NEW SANTRO,ASTA 1.1 MT,Manual,Petrol,1st,9071,41819,13,5,464000
4,CapitalUT,Delhi,2021,Hyundai,NEW SANTRO,SPORTZ EXECUTIVE CNG,Manual,CNG,1st,11574,18821,13,5,592000

In [15]:
### Honda_city
## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Ahonda%3Bmodel%3Ain%3Acity&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2&pinId=110001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    make.append(a.split()[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    model.append(a[2])
    
## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    series.append(b[0][0]) 
    
## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    transmission.append(b[0][1])

# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

#print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year) 
print(len(make)) 
# print(len(model))
# print(len(series))
# print(len(transmission))
# print(len(emi))
# print(len(fuel))
# print(len(price))
# print(len(owner))
# print(len(kilometers))
# print(len(year))

#city
city=["Delhi"]*20

# state
state = ["CapitalUT"]*20

# Mileage
mileage = [16]*20

# Seating
seating = [5]*20

d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}

used_cars_delhi_honda_city_data_collection = pd.DataFrame(d)
used_cars_delhi_honda_city_data_collection.head()

#used_cars_delhi_honda_city_data_collection.to_csv("delhi_honda_city.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,CapitalUT,Delhi,2014,HONDA,CITY,SV MT PETROL,Manual,Petrol,1st,10362,40756,16,5,530000
1,CapitalUT,Delhi,2018,Honda,CITY,V MT PETROL,Manual,Petrol,1st,15836,14437,16,5,832000
2,CapitalUT,Delhi,2011,Honda,City,V AT,Automatic,Petrol,1st,7019,78231,16,5,359000
3,CapitalUT,Delhi,2012,Honda,City,1.5L I-VTEC V AT,Automatic,Petrol,1st,7879,73216,16,5,403000
4,CapitalUT,Delhi,2012,Honda,City,V AT,Automatic,Petrol,1st,8641,48475,16,5,442000

In [16]:
### Honda_Amaze
## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Ahonda%3Bmodel%3Ain%3Aamaze&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2&pinId=110001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    make.append(a.split()[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    model.append(a[2])
    
## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    series.append(b[0][0]) 
    
## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    transmission.append(b[0][1])

# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

#print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year) 
print(len(make)) 
# print(len(model))
# print(len(series))
# print(len(transmission))
# print(len(emi))
# print(len(fuel))
# print(len(price))
# print(len(owner))
# print(len(kilometers))
# print(len(year))


#city
city=["Delhi"]*20

# state
state = ["CapitalUT"]*20

# Mileage
mileage = [16]*20

# Seating
seating = [5]*20

d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}

used_cars_delhi_honda_amaze_data_collection = pd.DataFrame(d)
used_cars_delhi_honda_amaze_data_collection.head()

#used_cars_delhi_honda_amaze_data_collection.to_csv("delhi_honda_city.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,CapitalUT,Delhi,2014,Honda,AMAZE,1.2L I-VTEC S,Manual,Petrol,1st,6803,53034,16,5,348000
1,CapitalUT,Delhi,2014,HONDA,AMAZE,1.2L I-VTEC EX,Manual,Petrol,2nd,6706,44282,16,5,343000
2,CapitalUT,Delhi,2020,Honda,Amaze,1.2L I-VTEC E,Manual,Petrol,1st,12727,7159,16,5,651000
3,CapitalUT,Delhi,2017,Honda,Amaze,1.2 S(O) MT PRIVILEGE EDITION,Manual,Petrol,1st,8771,47020,16,5,448650
4,CapitalUT,Delhi,2014,Honda,Amaze,1.2L I-VTEC S,Manual,Petrol,1st,7449,20729,16,5,381000

In [18]:
# honda_jazz

## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Ahonda%3Bmodel%3Ain%3Ajazz&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2&pinId=110001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    make.append(a.split()[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    model.append(a[2])
    
## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    series.append(b[0][0]) 
    
## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    transmission.append(b[0][1])

# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

#print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year)
print(len(make)) 
# print(len(model))
# print(len(series))
# print(len(transmission))
# print(len(emi))
# print(len(fuel))
# print(len(price))
# print(len(owner))
# print(len(kilometers))
# print(len(year))

#city
city=["Delhi"]*16

# state
state = ["CapitalUT"]*16

# Mileage
mileage = [17]*16

# Seating
seating = [5]*16

d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}

used_cars_delhi_honda_jazz_data_collection = pd.DataFrame(d)
used_cars_delhi_honda_jazz_data_collection.head()

#used_cars_delhi_honda_jazz_data_collection.to_csv("delhi_honda_jazz.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,CapitalUT,Delhi,2016,Honda,Jazz,1.2 V MT,Manual,Petrol,1st,9384,35734,17,5,480000
1,CapitalUT,Delhi,2017,HONDA,JAZZ,1.2L I-VTEC V AT,Automatic,Petrol,1st,12981,28608,17,5,664000
2,CapitalUT,Delhi,2016,Honda,Jazz,1.2 SV MT,Manual,Petrol,1st,9189,51897,17,5,470000
3,CapitalUT,Delhi,2016,Honda,Jazz,1.2 S AT,Automatic,Petrol,1st,10362,68766,17,5,530000
4,CapitalUT,Delhi,2017,Honda,Jazz,1.2L I-VTEC V AT,Automatic,Petrol,1st,12629,25244,17,5,646000

In [25]:
# Renault_kwid

## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Aford%3Bmodel%3Ain%3Aecosport&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2&pinId=110001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    make.append(a.split()[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    model.append(a[2])
    
## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    series.append(b[0][0])
    
## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    transmission.append(b[0][1])

# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

#print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year) 
print(len(make)) 
# print(len(model))
# print(len(series))
# print(len(transmission))
# print(len(emi))
# print(len(fuel))
# print(len(price))
# print(len(owner))
# print(len(kilometers))
# print(len(year))

#city
city=["Delhi"]*19

# state
state = ["CapitalUT"]*19

# Mileage
mileage = [9]*19

# Seating
seating = [5]*19

d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}

used_cars_delhi_ford_ecosport_data_collection = pd.DataFrame(d)
used_cars_delhi_ford_ecosport_data_collection.head()

#used_cars_delhi_ford_ecosport_data_collection.to_csv("delhi_ford_ecosport.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,CapitalUT,Delhi,2020,FORD,ECOSPORT,TITANIUM 1.5L DIESEL,Manual,Diesel,1st,15425,96075,9,5,789000
1,CapitalUT,Delhi,2016,Ford,Ecosport,1.5AMBIENTE TI VCT,Manual,Petrol,1st,10792,55017,9,5,552000
2,CapitalUT,Delhi,2018,FORD,ECOSPORT,AMBIENTE 1.5L DIESEL,Manual,Diesel,1st,13978,24931,9,5,715000
3,CapitalUT,Delhi,2019,FORD,ECOSPORT,TITANIUM 1.5L PETROL,Manual,Petrol,1st,15503,22270,9,5,793000
4,CapitalUT,Delhi,2015,Ford,Ecosport,TITANIUM 1.5L PETROL AT,Automatic,Petrol,2nd,10440,78906,9,5,534000

In [27]:
## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Aford%3Bmodel%3Ain%3Afreestyle&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2&pinId=110001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    make.append(a.split()[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    model.append(a[2])
    
## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    series.append(b[0][0])
    
## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    transmission.append(b[0][1])

# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

# print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year) 
print(len(make)) 
# print(len(model))
# print(len(series))
# print(len(transmission))
# print(len(emi))
# print(len(fuel))
# print(len(price))
# print(len(owner))
# print(len(kilometers))
# print(len(year))

#city
city=["Delhi"]*2

# state
state = ["CapitalUT"]*2

# Mileage
mileage = [11]*2

# Seating
seating = [5]*2

d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}

used_cars_delhi_ford_freestyle_data_collection = pd.DataFrame(d)
used_cars_delhi_ford_freestyle_data_collection.head()

#used_cars_delhi_ford_freestyle_data_collection.to_csv("delhi_ford_freestyle.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,CapitalUT,Delhi,2021,Ford,FREESTYLE,FLAIR EDITION 1.2 TI VCT,Manual,Petrol,1st,13744,12717,11,5,703000
1,CapitalUT,Delhi,2019,Ford,FREESTYLE,TREND+ 1.2 TI-VCT,Manual,Petrol,1st,12102,22989,11,5,619000

In [28]:
## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Akia%3Bmodel%3Ain%3Acarens&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2&pinId=110001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    make.append(a.split()[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    model.append(a[2])
    
## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    series.append(b[0][0])
    
## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    transmission.append(b[0][1])

# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

#print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year) 
print(len(make)) 
# print(len(model))
# print(len(series))
# print(len(transmission))
# print(len(emi))
# print(len(fuel))
# print(len(price))
# print(len(owner))
# print(len(kilometers))
# print(len(year))


#city
city=["Delhi"]*1

# state
state = ["CapitalUT"]*1

# Mileage
mileage = [9]*1

# Seating
seating = [5]*1

d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}

used_cars_delhi_kia_carens_data_collection = pd.DataFrame(d)
used_cars_delhi_kia_carens_data_collection.head()

#used_cars_delhi_kia_carens_data_collection.to_csv("delhi_kia_carens.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,CapitalUT,Delhi,2022,KIA,CARENS,LUXURY PLUS 1.4G MT 6STR,Manual,Petrol,1st,31825,3084,9,5,1672000

In [33]:
## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Akia%3Bmodel%3Ain%3Aseltos&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2&pinId=110001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    make.append(a.split()[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    model.append(a[2])
    
## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    series.append(b[0][0])
    
## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    transmission.append(b[0][1])

# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

#print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year) 
print(len(make)) 
# print(len(model))
# print(len(series))
# print(len(transmission))
# print(len(emi))
# print(len(fuel))
# print(len(price))
# print(len(owner))
# print(len(kilometers))
# print(len(year))


#city
city=["Delhi"]*8

# state
state = ["CapitalUT"]*8

# Mileage
mileage = [10]*8

# Seating
seating = [5]*8


d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}

used_cars_delhi_kia_seltos_data_collection = pd.DataFrame(d)
used_cars_delhi_kia_seltos_data_collection.head()

#used_cars_delhi_kia_seltose_data_collection.to_csv("delhi_kia_seltos.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,CapitalUT,Delhi,2020,KIA,SELTOS,GTX + AT PETROL,Automatic,Petrol,1st,31844,9417,10,5,1673000
1,CapitalUT,Delhi,2019,KIA,SELTOS,GTX 1.4 GDI AT PETROL,Automatic,Petrol,1st,27580,13672,10,5,1449000
2,CapitalUT,Delhi,2021,KIA,SELTOS,HTX 1.5 DIESEL,Manual,Diesel,1st,27066,60147,10,5,1422000
3,CapitalUT,Delhi,2020,KIA,SELTOS,GTX + AT PETROL,Automatic,Petrol,1st,30816,18469,10,5,1619000
4,CapitalUT,Delhi,2019,KIA,SELTOS,HTK 1.5 PETROL,Manual,Petrol,1st,21547,7221,10,5,1132000

In [35]:
## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Akia%3Bmodel%3Ain%3Asonet&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2&pinId=110001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    make.append(a.split()[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    model.append(a[2])
    
## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    series.append(b[0][0])
    
## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    transmission.append(b[0][1])

# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

#print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year) 
#print(len(make)) 
# print(len(model))
# print(len(series))
# print(len(transmission))
# print(len(emi))
# print(len(fuel))
# print(len(price))
# print(len(owner))
# print(len(kilometers))
# print(len(year))

#city
city=["Delhi"]*8

# state
state = ["CapitalUT"]*8

# Mileage
mileage = [11]*8

# Seating
seating = [5]*8


d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}

used_cars_delhi_kia_sonet_data_collection = pd.DataFrame(d)
used_cars_delhi_kia_sonet_data_collection.head()

#used_cars_delhi_kia_sonet_data_collection.to_csv("delhi_kia_sonet.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,CapitalUT,Delhi,2021,KIA,SONET,HTK PLUS,Manual,Petrol,2nd,17359,26673,11,5,912000
1,CapitalUT,Delhi,2021,KIA,SONET,HTK+ 1.5D MT,Manual,Diesel,1st,19872,27698,11,5,1044000
2,CapitalUT,Delhi,2021,KIA,SONET,GTX + 1.0 IMT,Manual,Petrol,1st,23145,7036,11,5,1216000
3,CapitalUT,Delhi,2021,KIA,SONET,GTX PLUS 1.5D AT,Automatic,Diesel,1st,25810,39565,11,5,1356000
4,CapitalUT,Delhi,2021,KIA,SONET,GTX PLUS 1.5D MT,Manual,Diesel,1st,24820,14871,11,5,1304000

In [40]:
## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Amahindra%3Bmodel%3Ain%3Ascorpio&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2&pinId=110001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    make.append(a.split()[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    model.append(a[2])
    
## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    series.append(b[0][0])
    
## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    transmission.append(b[0][1])

# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

#print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year) 
#print(len(make)) 
# print(len(model))
# print(len(series))
# print(len(transmission))
# print(len(emi))
# print(len(fuel))
# print(len(price))
# print(len(owner))
# print(len(kilometers))
# print(len(year))


#city
city=["Delhi"]*4

# state
state = ["CapitalUT"]*4

# Mileage
mileage = [14]*4

# Seating
seating = [7]*4

d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}

used_cars_delhi_mahindra_scorpio_data_collection = pd.DataFrame(d)
used_cars_delhi_mahindra_scorpio_data_collection.head()

#used_cars_delhi_mahindra_scorpio_data_collection.to_csv("delhi_mahindra_scorpio.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,CapitalUT,Delhi,2021,MAHINDRA,SCORPIO,S11,Manual,Diesel,1st,32948,15235,14,7,1731000
1,CapitalUT,Delhi,2021,MAHINDRA,SCORPIO,S11,Manual,Diesel,2nd,33234,14803,14,7,1746000
2,CapitalUT,Delhi,2020,Mahindra,Scorpio,S9,Manual,Diesel,1st,26191,41925,14,7,1376000
3,CapitalUT,Delhi,2020,MAHINDRA,SCORPIO,S11 2WD,Manual,Diesel,1st,28151,84500,14,7,1479000

In [42]:
## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Amahindra%3Bmodel%3Ain%3Athar&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2&pinId=110001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    make.append(a.split()[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    model.append(a[2])
    
## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    if b!= []:
        series.append(b[0][0])
series.insert(10,np.nan)
    
## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    if b!= []:
        transmission.append(b[0][1])
transmission.insert(10,np.nan)
# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

#print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year) 
print(len(make)) 
# print(len(model))
# print(len(series))
# print(len(transmission))
# print(len(emi))
# print(len(fuel))
# print(len(price))
# print(len(owner))
# print(len(kilometers))
# print(len(year))


city=["Delhi"]*20

# state
state = ["CapitalUT"]*20

# Mileage
mileage = [14]*20
#city

# Seating
seating = [6]*20

d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}

used_cars_delhi_mahindra_thar_data_collection = pd.DataFrame(d)
used_cars_delhi_mahindra_thar_data_collection.head()

#used_cars_delhi_mahindra_thar_data_collection.to_csv("delhi_mahindra_thar.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,CapitalUT,Delhi,2020,Mahindra,Thar,LX HARD TOP 4WD MT,Manual,Diesel,1st,27504,11945,14,6,1445000
1,CapitalUT,Delhi,2018,Mahindra,Thar,CRDE 4X4 BS IV,Manual,Diesel,1st,16959,21244,14,6,891000
2,CapitalUT,Delhi,2021,Mahindra,Thar,LX D 4*4 MT HT,Manual,Diesel,1st,28818,41433,14,6,1514000
3,CapitalUT,Delhi,2021,Mahindra,Thar,LX HT PETROL 4WD MT,Manual,Petrol,1st,28380,6089,14,6,1491000
4,CapitalUT,Delhi,2021,Mahindra,Thar,LX PETROL HT 4WD AT,Automatic,Petrol,1st,29217,12949,14,6,1535000

In [46]:
## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Arenault%3Bmodel%3Ain%3Akiger&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2&pinId=110001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    make.append(a.split()[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    model.append(a[2])
    
## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    series.append(b[0][0]) 
    
## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    transmission.append(b[0][1])

# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

# print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year) 
print(len(make)) 
# print(len(model))
# print(len(series))
# print(len(transmission))
# print(len(emi))
# print(len(fuel))
# print(len(price))
# print(len(owner))
# print(len(kilometers))
# print(len(year))


city=["Delhi"]*13

# state
state = ["CapitalUT"]*13

# Mileage
mileage = [16]*13
#city

# Seating
seating = [5]*13

d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}

used_cars_delhi_renault_kiger_data_collection = pd.DataFrame(d)
used_cars_delhi_renault_kiger_data_collection.head()

#used_cars_delhi_renault_kiger_data_collection.to_csv("delhi_renault_kiger.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,CapitalUT,Delhi,2021,Renault,Kiger,RXL EASY R 1.0 L,Automatic,Petrol,1st,13411,41505,16,5,686000
1,CapitalUT,Delhi,2021,Renault,Kiger,RXZ 1.0 Easy R Petrol,Automatic,Petrol,1st,16179,8383,16,5,850000
2,CapitalUT,Delhi,2021,Renault,Kiger,RXZ CVT 1.0 TURBO DUAL TONE,Automatic,Petrol,1st,19015,9980,16,5,999000
3,CapitalUT,Delhi,2022,Renault,Kiger,RXT (O) AMT 1.0 DUAL TONE,Automatic,Petrol,1st,16712,6642,16,5,878000
4,CapitalUT,Delhi,2021,Renault,Kiger,RXZ 1.0 MT,Manual,Petrol,1st,15951,14272,16,5,838000

In [48]:
## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Arenault%3Bmodel%3Ain%3Akwid&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2&pinId=110001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    make.append(a.split()[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    model.append(a[2])
    
## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    series.append(b[0][0]) 
    
## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    transmission.append(b[0][1])

# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

#print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year) 
print(len(make)) 
# print(len(model))
# print(len(series))
# print(len(transmission))
# print(len(emi))
# print(len(fuel))
# print(len(price))
# print(len(owner))
# print(len(kilometers))
# print(len(year))


city=["Delhi"]*20

# state
state = ["CapitalUT"]*20

# Mileage
mileage = [19]*20
#city

# Seating
seating = [5]*20

d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}

used_cars_delhi_renault_kwid_data_collection = pd.DataFrame(d)
used_cars_delhi_renault_kwid_data_collection.head()

#used_cars_delhi_renault_kwid_data_collection.to_csv("delhi_renault_kwid.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,CapitalUT,Delhi,2018,Renault,Kwid,1.0 RXT Opt,Manual,Petrol,1st,7058,15030,19,5,361000
1,CapitalUT,Delhi,2018,RENAULT,KWID,RXL,Manual,Petrol,2nd,5415,66229,19,5,277000
2,CapitalUT,Delhi,2020,Renault,Kwid,RXT,Manual,Petrol,1st,7468,35641,19,5,382000
3,CapitalUT,Delhi,2018,Renault,Kwid,CLIMBER 1.0 AT,Automatic,Petrol,2nd,6139,69976,19,5,314000
4,CapitalUT,Delhi,2021,RENAULT,KWID,RXL,Manual,Petrol,1st,7996,28449,19,5,409000

In [54]:
## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Arenault%3Bmodel%3Ain%3Atriber&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2&pinId=110001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    make.append(a.split()[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    model.append(a[2])
    
## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    series.append(b[0][0]) 
    
## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    transmission.append(b[0][1])

# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

#print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year) 
print(len(make)) 
# print(len(model))
# print(len(series))
# print(len(transmission))
# print(len(emi))
# print(len(fuel))
# print(len(price))
# print(len(owner))
# print(len(kilometers))
# print(len(year))



city=["Delhi"]*11

# state
state = ["CapitalUT"]*11

# Mileage
mileage = [10]*11
#city

# Seating
seating = [5]*11

d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}

used_cars_delhi_renault_triber_data_collection = pd.DataFrame(d)
used_cars_delhi_renault_triber_data_collection.head()

#used_cars_delhi_renault_triber_data_collection.to_csv("delhi_renault_triber.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,CapitalUT,Delhi,2021,Renault,TRIBER,1.0 RXZ,Manual,Petrol,1st,14448,10510,10,5,739000
1,CapitalUT,Delhi,2020,Renault,TRIBER,RXZ AT,Automatic,Petrol,1st,14526,8756,10,5,743000
2,CapitalUT,Delhi,2022,Renault,TRIBER,RXZ MT DUAL TONE,Manual,Petrol,1st,16312,6844,10,5,857000
3,CapitalUT,Delhi,2022,Renault,TRIBER,1.0 RXZ,Manual,Petrol,1st,15227,11325,10,5,800000
4,CapitalUT,Delhi,2021,Renault,TRIBER,1.0 RXZ,Manual,Petrol,1st,14975,18132,10,5,766000

In [56]:
## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Atata%3Bmodel%3Ain%3Aaltroz&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2&pinId=110001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    make.append(a.split()[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    model.append(a[2])
    
## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    if b != []:
        series.append(b[0][0]) 
series.insert(2,np.nan)
series.insert(15,np.nan)
## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    if b != []:
        transmission.append(b[0][1])
transmission.insert(2,np.nan)
transmission.insert(15,np.nan)
# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

#print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year)
print(len(make)) 
# print(len(model))
# print(len(series))
# print(len(transmission))
# print(len(emi))
# print(len(fuel))
# print(len(price))
# print(len(owner))
# print(len(kilometers))
# print(len(year))


city=["Delhi"]*19

# state
state = ["CapitalUT"]*19

# Mileage
mileage = [12]*19
#city

# Seating
seating = [5]*19

d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}

used_cars_delhi_tata_altroz_data_collection = pd.DataFrame(d)
used_cars_delhi_tata_altroz_data_collection.head()

#used_cars_delhi_tata_altroz_data_collection.to_csv("delhi_tata_altroz.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,CapitalUT,Delhi,2020,TATA,ALTROZ,XZ PETROL,Manual,Petrol,1st,14428,17780,12,5,738000
1,CapitalUT,Delhi,2021,Tata,ALTROZ,XZ 1.5 RTQ,Manual,Diesel,1st,17036,33411,12,5,895000
2,CapitalUT,Delhi,2022,Tata,ALTROZ,NaN,NaN,Petrol,1st,15269,7097,12,5,781000
3,CapitalUT,Delhi,2021,Tata,ALTROZ,XT PETROL,Manual,Diesel,1st,15361,16973,12,5,807000
4,CapitalUT,Delhi,2020,TATA,ALTROZ,XT 1.5 RTQ,Manual,Petrol,1st,14076,32195,12,5,720000

In [60]:
## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Atata%3Bmodel%3Ain%3Atiago&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2&pinId=110001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    make.append(a.split()[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    model.append(a[2])
    
## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    series.append(b[0][0]) 

## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    transmission.append(b[0][1])

# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

#print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year)
print(len(make)) 
# print(len(model))
# print(len(series))
# print(len(transmission))
# print(len(emi))
# print(len(fuel))
# print(len(price))
# print(len(owner))
# print(len(kilometers))
# print(len(year))


city=["Delhi"]*10

# state
state = ["CapitalUT"]*10

# Mileage
mileage = [11]*10
#city

# Seating
seating = [5]*10


d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}

used_cars_delhi_tata_tiago_data_collection = pd.DataFrame(d)
used_cars_delhi_tata_tiago_data_collection.head()

#used_cars_delhi_tata_tiago_data_collection.to_csv("delhi_tata_tiago.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,CapitalUT,Delhi,2020,Tata,Tiago,XZ 1.2 REVOTRON,Manual,Petrol,1st,10049,35863,11,5,514000
1,CapitalUT,Delhi,2019,Tata,Tiago,XZ 1.2 REVOTRON,Manual,Petrol,1st,9814,31539,11,5,502000
2,CapitalUT,Delhi,2018,TATA,TIAGO,XZA 1.2 REVOTRON,Automatic,Petrol,1st,9990,53191,11,5,511000
3,CapitalUT,Delhi,2018,Tata,Tiago,XZ 1.2 REVOTRON,Manual,Petrol,1st,9736,12249,11,5,498000
4,CapitalUT,Delhi,2019,Tata,Tiago,XZ 1.2 REVOTRON,Manual,Petrol,1st,9834,38715,11,5,503000

In [62]:
## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Atata%3Bmodel%3Ain%3Anexon&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2&pinId=110001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    make.append(a.split()[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    model.append(a[2])
    
## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    if b != []:
        series.append(b[0][0]) 
series.insert(5,np.nan)

## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    if b != []:
        transmission.append(b[0][1])
transmission.insert(5,np.nan)

# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

#print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year) 
# print(len(make)) 
# print(len(model))
# print(len(series))
# print(len(transmission))
# print(len(emi))
# print(len(fuel))
# print(len(price))
# print(len(owner))
# print(len(kilometers))
# print(len(year))
city=["Delhi"]*17

# state
state = ["CapitalUT"]*17

# Mileage
mileage = [12]*17
#city

# Seating
seating = [5]*17

d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}

used_cars_delhi_tata_nexon_data_collection = pd.DataFrame(d)
used_cars_delhi_tata_nexon_data_collection.head()

#used_cars_delhi_tata_nexon_data_collection.to_csv("delhi_nexon_tiago.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,CapitalUT,Delhi,2018,Tata,NEXON,XMA 1.2,Automatic,Petrol,2nd,12356,31220,12,5,632000
1,CapitalUT,Delhi,2018,TATA,NEXON,XZ+ 1.5,Manual,Diesel,1st,14741,56921,12,5,754000
2,CapitalUT,Delhi,2018,Tata,NEXON,XM 1.2,Manual,Petrol,1st,12571,58008,12,5,643000
3,CapitalUT,Delhi,2021,Tata,NEXON,XZ 1.2,Manual,Petrol,1st,18044,17620,12,5,948000
4,CapitalUT,Delhi,2021,Tata,NEXON,XMA 1.2,Automatic,Petrol,1st,19415,17455,12,5,1020000

In [64]:
## Delhi_data
df1 = pd.read_csv("delhi_ford_ecosport.csv")
df2 = pd.read_csv("delhi_ford_freestyle.csv")
df3 = pd.read_csv("delhi_honda_amaze.csv")
df4 = pd.read_csv("delhi_honda_city.csv")
df5 = pd.read_csv("delhi_honda_jazz.csv")
df6 = pd.read_csv("delhi_hyundai_elite_i20.csv")
df7 = pd.read_csv("delhi_hyundai_grand_i10.csv")
df8 = pd.read_csv("delhi_hyundai_new_santro.csv")
df9 = pd.read_csv("delhi_kia_carens.csv")
df10 = pd.read_csv("delhi_kia_seltos.csv")
df11 = pd.read_csv("delhi_kia_sonet.csv")
df12 = pd.read_csv("delhi_mahindra_scorpio.csv")
df13 = pd.read_csv("delhi_mahindra_thar.csv")
df14 = pd.read_csv("delhi_maruti_baleno.csv")
df15 = pd.read_csv("delhi_maruti_swift.csv")
df16 = pd.read_csv("delhi_maruti_wagon_r.csv")
df17 = pd.read_csv("delhi_renault_kiger.csv")
df18 = pd.read_csv("delhi_renault_kwid.csv")
df19 = pd.read_csv("delhi_renault_triber.csv")
df20 =pd.read_csv("delhi_tata_altroz.csv")
df21 = pd.read_csv("delhi_tata_nexan.csv")
df22 = pd.read_csv("delhi_tata_tiago.csv")

In [65]:
df_delhi = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21,df22])

In [ ]:
# df_delhi.to_csv("delhi_all")