In [1]:
## importing required libraries
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import re
import warnings
warnings.filterwarnings("ignore")

In [3]:
## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Aford%3Bmodel%3Ain%3Aecosport&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2378&pinId=400001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    make.append(a.split()[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    model.append(a[2])  
model
## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    series.append(b[0][0])
    
## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    transmission.append(b[0][1])

# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

# #print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year) 
# print(len(make)) 
# print(len(model))
# print(len(series))
# print(len(transmission))
# print(len(emi))
# print(len(fuel))
# print(len(price))
# print(len(owner))
# print(len(kilometers))
# print(len(year))

#city
city=["Mumbai"]*20
# state
state = ["Maharashtra"]*20
# Mileage
mileage = [9]*20
# Seating
seating = [5]*20

d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}

used_cars_mumbai_ford_ecosport_data_collection = pd.DataFrame(d)
used_cars_mumbai_ford_ecosport_data_collection.head()
#used_cars_mumbai_ford_ecosport_data_collection.to_csv("mumbai_ford_ecosport.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,Maharashtra,Mumbai,2014,Ford,Ecosport,1.5 TITANIUMTDCI OPT,Manual,Diesel,1st,10948,86378,9,5,560000
1,Maharashtra,Mumbai,2016,FORD,ECOSPORT,1.5 TREND TI VCT,Manual,CNG,1st,10694,72864,9,5,547000
2,Maharashtra,Mumbai,2019,Ford,Ecosport,1.5 TITANIUM THUNDER EDITION TI VCT,Manual,Petrol,1st,15380,64821,9,5,808000
3,Maharashtra,Mumbai,2014,Ford,Ecosport,1.5 TITANIUMTDCI OPT,Manual,Diesel,2nd,10987,72732,9,5,562000
4,Maharashtra,Mumbai,2014,Ford,Ecosport,1.5TITANIUM TDCI,Manual,Diesel,2nd,9775,44925,9,5,500000

In [4]:
## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Aford%3Bmodel%3Ain%3Afreestyle&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2378&pinId=400001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    make.append(a.split()[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    model.append(a[2])  
model
## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    series.append(b[0][0])
    
## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    transmission.append(b[0][1])

# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

#print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year) 
#city
city=["Mumbai"]*1
# state
state = ["Maharashtra"]*1
# Mileage
mileage = [11]*1
# Seating
seating = [5]*1

d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}

used_cars_mumbai_ford_freestyle_data_collection = pd.DataFrame(d)
used_cars_mumbai_ford_freestyle_data_collection.head()

# used_cars_mumbai_ford_freestyle_data_collection.to_csv("mumbai_ford_freestyle.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,Maharashtra,Mumbai,2019,Ford,FREESTYLE,TREND 1.2 TI-VCT,Manual,Petrol,1st,10401,9203,11,5,532000

In [6]:
## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Ahonda%3Bmodel%3Ain%3Acity&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2378&pinId=400001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    make.append(a.split()[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    model.append(a[2])  
model
## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    series.append(b[0][0])
    
## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    transmission.append(b[0][1])

# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

#print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year) 

#city
city=["Mumbai"]*20

# state
state = ["Maharashtra"]*20

# Mileage
mileage = [16]*20

# Seating
seating = [5]*20

d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}
used_cars_mumbai_honda_city_data_collection = pd.DataFrame(d)
used_cars_mumbai_honda_city_data_collection.head()

# used_cars_mumbai_honda_city_data_collection.to_csv("mumbai_honda_city.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,Maharashtra,Mumbai,2012,HONDA,CITY,V MT PETROL,Manual,Petrol,2nd,7722,87436,16,5,395000
1,Maharashtra,Mumbai,2015,Honda,City,SV MT PETROL,Manual,Petrol,1st,10753,39837,16,5,550000
2,Maharashtra,Mumbai,2012,HONDA,CITY,1.5L I-VTEC V AT,Automatic,Petrol,1st,8231,51665,16,5,421000
3,Maharashtra,Mumbai,2012,HONDA,CITY,CORPORATE MT,Manual,Petrol,2nd,7019,69952,16,5,359000
4,Maharashtra,Mumbai,2016,Honda,City,SV CVT PETROL,Automatic,Petrol,2nd,11105,61306,16,5,568000

In [7]:
## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Ahonda%3Bmodel%3Ain%3Ajazz&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2378&pinId=400001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    make.append(a.split()[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    model.append(a[2])  
model
## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    series.append(b[0][0])
    
## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    transmission.append(b[0][1])

# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

#print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year) 
#city
city=["Mumbai"]*4

# state
state = ["Maharashtra"]*4

# Mileage
mileage = [17]*4

# Seating
seating = [5]*4

d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}

used_cars_mumbai_honda_jazz_data_collection = pd.DataFrame(d)
used_cars_mumbai_honda_jazz_data_collection.head()

#used_cars_mumbai_honda_jazz_data_collection.to_csv("mumbai_honda_jazz.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,Maharashtra,Mumbai,2016,HONDA,JAZZ,1.2 S AT,Automatic,Petrol,1st,10107,55313,17,5,517000
1,Maharashtra,Mumbai,2016,HONDA,JAZZ,1.2 V MT,Manual,Petrol,1st,8895,74856,17,5,455000
2,Maharashtra,Mumbai,2017,HONDA,JAZZ,1.2 SV MT,Manual,Petrol,1st,10283,44232,17,5,526000
3,Maharashtra,Mumbai,2016,HONDA,JAZZ,1.2 V MT,Manual,Petrol,1st,10948,28242,17,5,560000

In [8]:
## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Ahyundai%3Bmodel%3Ain%3Aelite%20i20&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2378&pinId=400001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    make.append(a.split()[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    b = re.findall(r"\d+\s\w+\s(\w+\s\w+)",a)
    model.append(b[0])
## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    series.append(b[0][0])
    
## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    transmission.append(b[0][1])

# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

#print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year)
#city
city=["Mumbai"]*20

# state
state = ["Maharashtra"]*20

# Mileage
mileage = [12]*20

# Seating
seating = [5]*20

d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}

used_cars_mumbai_hyundai_elite_i20_collection = pd.DataFrame(d)
used_cars_mumbai_hyundai_elite_i20_collection.head()

#used_cars_mumbai_hyundai_elite_i20_collection.to_csv("mumbai_hyundai_elite_i20.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,Maharashtra,Mumbai,2015,Hyundai,Elite i20,MAGNA 1.2,Manual,Petrol,2nd,9677,37626,12,5,495000
1,Maharashtra,Mumbai,2016,Hyundai,Elite i20,MAGNA 1.2,Manual,Petrol,2nd,10635,20782,12,5,544000
2,Maharashtra,Mumbai,2014,Hyundai,Elite i20,SPORTZ 1.2,Manual,Petrol,1st,9286,63788,12,5,475000
3,Maharashtra,Mumbai,2018,Hyundai,Elite i20,SPORTZ 1.2,Manual,Petrol,1st,11105,39573,12,5,568000
4,Maharashtra,Mumbai,2016,Hyundai,Elite i20,ASTA 1.4 CRDI,Manual,Diesel,2nd,11339,76293,12,5,580000

In [9]:
## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Ahyundai%3Bmodel%3Ain%3Agrand%20i10&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2378&pinId=400001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    make.append(a.split()[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    b = re.findall(r"\d+\s\w+\s(\w+\s\w+)",a)
    model.append(b[0])
## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    series.append(b[0][0])
    
## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    transmission.append(b[0][1])

# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

#print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year) 

#city
city=["Mumbai"]*20
# state
state = ["Maharashtra"]*20
# Mileage
mileage = [15]*20
# Seating
seating = [5]*20

d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}

used_cars_mumbai_hyundai_grand_i10_collection = pd.DataFrame(d)
used_cars_mumbai_hyundai_grand_i10_collection.head()

#used_cars_mumbai_hyundai_grand_i10_collection.to_csv("mumbai_hyundai_grand_i10.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,Maharashtra,Mumbai,2016,Hyundai,Grand i10,ASTA 1.2 KAPPA VTVT,Manual,Petrol,1st,9619,61072,15,5,492000
1,Maharashtra,Mumbai,2019,Hyundai,Grand i10,SPORTZ AT 1.2 KAPPA VTVT,Automatic,Petrol,1st,11417,20519,15,5,584000
2,Maharashtra,Mumbai,2017,HYUNDAI,GRAND I10,MAGNA 1.2 KAPPA VTVT,Manual,CNG,1st,7351,93757,15,5,376000
3,Maharashtra,Mumbai,2016,HYUNDAI,GRAND I10,SPORTZ 1.2 KAPPA VTVT,Manual,Petrol,2nd,7351,92961,15,5,376000
4,Maharashtra,Mumbai,2015,Hyundai,Grand i10,SPORTZ 1.2 KAPPA VTVT,Manual,Petrol,2nd,7625,42006,15,5,390000

In [10]:
## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Ahyundai%3Bmodel%3Ain%3Anew%20santro&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2378&pinId=400001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    make.append(a.split()[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    b = re.findall(r"\d+\s\w+\s(\w+\s\w+)",a)
    model.append(b[0])
## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    series.append(b[0][0])
    
## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    transmission.append(b[0][1])

# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

#print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year)
#city
city=["Mumbai"]*15
# state
state = ["Maharashtra"]*15
# Mileage
mileage = [13]*15
# Seating
seating = [5]*15
d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}
used_cars_mumbai_hyundai_new_santro_data_collection = pd.DataFrame(d)
used_cars_mumbai_hyundai_new_santro_data_collection.head()

# used_cars_mumbai_hyundai_new_santro_data_collection.to_csv("mumbai_hyundai_new_santro.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,Maharashtra,Mumbai,2018,Hyundai,NEW SANTRO,ASTA MT,Manual,Petrol,1st,10147,16876,13,5,519000
1,Maharashtra,Mumbai,2020,Hyundai,NEW SANTRO,1.1 SPORTZ MT CNG,Manual,CNG,1st,11105,37396,13,5,568000
2,Maharashtra,Mumbai,2019,Hyundai,NEW SANTRO,1.1 MAGNA CNG MT,Manual,CNG,1st,8837,61630,13,5,452000
3,Maharashtra,Mumbai,2020,Hyundai,NEW SANTRO,SPORTZ 1.1,Manual,Petrol,1st,9247,32757,13,5,473000
4,Maharashtra,Mumbai,2019,HYUNDAI,NEW SANTRO,SPORTZ AMT,Automatic,Petrol,1st,9658,46122,13,5,494000

In [11]:
## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Akia%3Bmodel%3Ain%3Aseltos&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2378&pinId=400001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    make.append(a.split()[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    model.append(a[2])  
model
## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    series.append(b[0][0])
    
## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    transmission.append(b[0][1])

# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

#print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year) 
#city
city=["Mumbai"]*4
# state
state = ["Maharashtra"]*4
# Mileage
mileage = [10]*4
# Seating
seating = [5]*4

d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}

used_cars_mumbai_kia_seltos_data_collection = pd.DataFrame(d)
used_cars_mumbai_kia_seltos_data_collection.head()
# used_cars_mumbai_kia_seltos_data_collection.to_csv("mumbai_kia_seltos.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,Maharashtra,Mumbai,2019,KIA,SELTOS,GTX+ 1.4 MT,Manual,Petrol,1st,27352,12608,10,5,1437000
1,Maharashtra,Mumbai,2020,KIA,SELTOS,1.4 GTX+ TURBO GDI PETROL AT,Automatic,Petrol,1st,32396,22262,10,5,1702000
2,Maharashtra,Mumbai,2020,KIA,SELTOS,GTX + AT PETROL,Automatic,Petrol,1st,35765,7345,10,5,1879000
3,Maharashtra,Mumbai,2020,KIA,SELTOS,1.4 GTX+ TURBO GDI PETROL AT,Automatic,Petrol,1st,35460,17415,10,5,1863000

In [12]:
## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Akia%3Bmodel%3Ain%3Asonet&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2378&pinId=400001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    make.append(a.split()[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    model.append(a[2])  
model
## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    series.append(b[0][0])
    
## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    transmission.append(b[0][1])

# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

#print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year) 
#city
city=["Mumbai"]*1
# state
state = ["Maharashtra"]*1
# Mileage
mileage = [11]*1
# Seating
seating = [5]*1
d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}

used_cars_mumbai_kia_sonet_data_collection = pd.DataFrame(d)
used_cars_mumbai_kia_sonet_data_collection.head()
# used_cars_mumbai_kia_sonet_data_collection.to_csv("mumbai_kia_sonet.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,Maharashtra,Mumbai,2020,KIA,SONET,GTX PLUS DCT 1.0,Manual,Petrol,2nd,23317,16894,11,5,1225000

In [13]:
## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Amahindra%3Bmodel%3Ain%3Athar&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2378&pinId=400001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    make.append(a.split()[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    model.append(a[2])  
model
## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    series.append(b[0][0])
    
## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    transmission.append(b[0][1])

# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

#print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year) 
#city
city=["Mumbai"]*1

# state
state = ["Maharashtra"]*1

# Mileage
mileage = [14]*1
# Seating
seating = [6]*1

d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}

used_cars_mumbai_mahindra_thar_data_collection = pd.DataFrame(d)
used_cars_mumbai_mahindra_thar_data_collection

#used_cars_mumbai_mahindra_thar_data_collection.to_csv("mumbai_mahindra_thar.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,Maharashtra,Mumbai,2021,Mahindra,Thar,LX PETROL HT 4WD AT,Automatic,Petrol,1st,31121,4799,14,6,1635000

In [16]:
## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Amaruti%3Bmodel%3Ain%3Abaleno&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2378&pinId=400001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    make.append(a.split()[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    model.append(a[2])
    
## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    series.append(a.split()[0])


## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    transmission.append(b[0][1])

# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

#print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year) 
#city
city=["Mumbai"]*17
# state
state = ["Maharashtra"]*17
# Mileage
mileage = [16]*17
# Seating
seating = [5]*17
d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}

used_cars_mumbai_maruti_baleno_data_collection = pd.DataFrame(d)
used_cars_mumbai_maruti_baleno_data_collection.head()

#used_cars_mumbai_maruti_baleno_data_collection.to_csv("mumbai_maruti_baleno.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,Maharashtra,Mumbai,2016,Maruti,Baleno,ALPHA,Manual,Petrol,1st,12023,23862,16,5,615000
1,Maharashtra,Mumbai,2016,Maruti,Baleno,ZETA,Automatic,Petrol,2nd,12453,19980,16,5,637000
2,Maharashtra,Mumbai,2021,Maruti,Baleno,DELTA,Manual,Petrol,1st,12981,7304,16,5,664000
3,Maharashtra,Mumbai,2016,Maruti,Baleno,ZETA,Manual,Petrol,1st,10323,53160,16,5,528000
4,Maharashtra,Mumbai,2019,Maruti,Baleno,DELTA,Manual,Petrol,1st,12727,21814,16,5,651000

In [18]:
## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Amaruti%3Bmodel%3Ain%3Anew%20wagon-r&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2378&pinId=400001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    make.append(a.split()[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split("Maruti")
    #b = re.findall(r"\d+\s\w+\s(\w+\s\w+-R)",a)
    model.append(a[1])
    
## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    series.append(a[:3])

## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    transmission.append(b[0][1])



# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

#print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year) 
#city
city=["Mumbai"]*19
# state
state = ["Maharashtra"]*19
# Mileage
mileage = [16]*19
# Seating
seating = [5]*19

d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}
used_cars_mumbai_maruti_new_wagon_r_data_collection = pd.DataFrame(d)
used_cars_mumbai_maruti_new_wagon_r_data_collection.head()
#used_cars_mumbai_maruti_new_wagon_r_data_collection.to_csv("mumbai_maruti_new_wagon_r.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,Maharashtra,Mumbai,2019,Maruti,New Wagon-R,LXI,Manual,CNG,1st,9834,90453,16,5,503000
1,Maharashtra,Mumbai,2019,Maruti,New Wagon-R,VXI,Automatic,Petrol,1st,10889,28624,16,5,557000
2,Maharashtra,Mumbai,2021,Maruti,New Wagon-R,LXI,Manual,CNG,2nd,12238,24534,16,5,626000
3,Maharashtra,Mumbai,2021,Maruti,New Wagon-R,LXI,Manual,CNG,1st,12336,16015,16,5,631000
4,Maharashtra,Mumbai,2021,Maruti,New Wagon-R,1.0,Manual,CNG,1st,13020,19013,16,5,666000

In [20]:
## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Akia%3Bmodel%3Ain%3Acarens%3AOR%3Amake%3A%3D%3Amaruti%3Bmodel%3Ain%3Aswift&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2378&pinId=400001"
page = requests.get(url)
soup = BeautifulSoup(page.text)
## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    make.append(a.split()[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    model.append(a[2])
    
## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    series.append(a[:3])
    
## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    transmission.append(b[0][1])

# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

#print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year) 
#city
city=["Mumbai"]*18
# state
state = ["Maharashtra"]*18
# Mileage
mileage = [15]*18
# Seating
seating = [5]*18


d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}
used_cars_mumbai_maruti_swift_data_collection = pd.DataFrame(d)
used_cars_mumbai_maruti_swift_data_collection.head()
#used_cars_mumbai_maruti_swift_data_collection.to_csv(a"mumbai_maruti_swift.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,Maharashtra,Mumbai,2012,Maruti,SWIFT,VDI,Manual,Diesel,1st,7859,55416,15,5,402000
1,Maharashtra,Mumbai,2015,Maruti,Swift,VDI,Manual,Diesel,1st,9697,64751,15,5,496000
2,Maharashtra,Mumbai,2017,Maruti,Swift,VXI,Manual,Petrol,1st,9580,48330,15,5,490000
3,Maharashtra,Mumbai,2019,Maruti,Swift,VXI,Manual,Petrol,1st,12453,20025,15,5,637000
4,Maharashtra,Mumbai,2020,Maruti,SWIFT,ZXI,Automatic,Petrol,1st,13978,76241,15,5,715000

In [21]:
## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Arenault%3Bmodel%3Ain%3Akwid&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2378&pinId=400001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    make.append(a.split()[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    model.append(a[2])  
model
## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    series.append(b[0][0])
    
## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    transmission.append(b[0][1])

# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

#print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year) 
#city
city=["Mumbai"]*10
# state
state = ["Maharashtra"]*10
# Mileage
mileage = [19]*10
# Seating
seating = [5]*10
d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}

used_cars_mumbai_renault_kwid_data_collection = pd.DataFrame(d)
used_cars_mumbai_renault_kwid_data_collection.head()
#used_cars_mumbai_renault_kwid_data_collection.to_csv("mumbai_renault_kwid.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,Maharashtra,Mumbai,2021,Renault,Kwid,CLIMBER 1.0 AMT (O),Automatic,Petrol,1st,10987,7890,19,5,562000
1,Maharashtra,Mumbai,2016,Renault,KWID,1.0 RXT Opt,Manual,Petrol,1st,6119,22233,19,5,313000
2,Maharashtra,Mumbai,2021,Renault,Kwid,CLIMBER 1.0 AMT (O),Automatic,Petrol,1st,9443,19604,19,5,483000
3,Maharashtra,Mumbai,2021,Renault,Kwid,1.0 RXL AT,Automatic,Petrol,1st,9677,16533,19,5,495000
4,Maharashtra,Mumbai,2020,Renault,Kwid,1.0 CLIMBER OPT AMT,Automatic,Petrol,2nd,9971,5188,19,5,510000

In [22]:
## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Atata%3Bmodel%3Ain%3Aaltroz&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2378&pinId=400001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    make.append(a.split()[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    model.append(a[2])  
model
## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    series.append(b[0][0])
    
## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    transmission.append(b[0][1])

# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

#print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year) 
#city
city=["Mumbai"]*10
# state
state = ["Maharashtra"]*10
# Mileage
mileage = [12]*10
# Seating
seating = [5]*10

d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}
used_cars_mumbai_tata_altroz_data_collection = pd.DataFrame(d)
used_cars_mumbai_tata_altroz_data_collection.head()

#used_cars_mumbai_tata_altroz_data_collection.to_csv("mumbai_tata_altroz.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,Maharashtra,Mumbai,2020,Tata,ALTROZ,XZ 1.2,Manual,Petrol,1st,14936,14826,12,5,764000
1,Maharashtra,Mumbai,2020,Tata,ALTROZ,XZ 1.2,Manual,Petrol,1st,14037,34745,12,5,718000
2,Maharashtra,Mumbai,2021,Tata,ALTROZ,XZ 1.5 RTQ,Manual,Diesel,1st,18787,43444,12,5,987000
3,Maharashtra,Mumbai,2020,Tata,ALTROZ,XZ 1.2,Manual,Petrol,1st,14682,27970,12,5,751000
4,Maharashtra,Mumbai,2020,Tata,ALTROZ,XZ 1.2,Manual,Petrol,1st,15034,10512,12,5,769000

In [23]:
## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Arenault%3Bmodel%3Ain%3Atriber%3AOR%3Amake%3A%3D%3Atata%3Bmodel%3Ain%3Anexon&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2378&pinId=400001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    make.append(a.split()[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    model.append(a[2])  
model
## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    series.append(b[0][0])
    
## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    transmission.append(b[0][1])

# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

#print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year) 
#city
city=["Mumbai"]*8

# state
state = ["Maharashtra"]*8
# Mileage
mileage = [12]*8
# Seating
seating = [5]*8
d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}
used_cars_mumbai_tata_nexon_data_collection = pd.DataFrame(d)
used_cars_mumbai_tata_nexon_data_collection.head()
# used_cars_mumbai_tata_nexon_data_collection.to_csv("mumbai_tata_nexon.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,Maharashtra,Mumbai,2018,Tata,NEXON,XM 1.2,Manual,Petrol,1st,12942,22854,12,5,662000
1,Maharashtra,Mumbai,2021,Tata,NEXON,XZ+ SUNROOF 1.2 RTN,Manual,Petrol,1st,20842,16480,12,5,1095000
2,Maharashtra,Mumbai,2021,Tata,NEXON,XMA 1.5 SUNROOF,Automatic,Diesel,1st,19491,47857,12,5,1024000
3,Maharashtra,Mumbai,2017,Tata,NEXON,XZ+ 1.2,Manual,Petrol,1st,14037,78841,12,5,718000
4,Maharashtra,Mumbai,2018,Tata,NEXON,XZA+ 1.5,Automatic,Diesel,1st,16655,58312,12,5,875000

In [25]:
## Requesting for the data
url = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Atata%3Bmodel%3Ain%3Atiago&sort=bestmatch&serveWarrantyCount=true&gaId=1400904043.1678979027&storeCityId=2378&pinId=400001"
page = requests.get(url)
soup = BeautifulSoup(page.text)

## make
make = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text
    make.append(a.split()[1])

## Model
model = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    model.append(a[2])  
model
## year of the model
year = []
for i in soup.find_all("h2",class_="_2lmIw"):
    a = i.text.split()
    year.append(a[0])

# soup.find_all("ul",class_="_1hOnS")

# Series
series = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    series.append(b[0][0])
    
## Transmission
transmission = []
for i in soup.find_all("ul",class_="_1hOnS"):
    a = i.text
    b = re.findall(r"(.+?)(Automatic|Manual)",a)
    transmission.append(b[0][1])

# soup.find_all("ul",class_="_13yb6")

## kilometers
kilometers = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    kilometers.append(a[0].replace(",",""))

## Owner
owner = []
for i in soup.find_all("ul",class_="_13yb6"):
    a = i.text.split("km")
    owner.append(a[1].split("Owner")[0])


## Fuel

fuel=[]
for i in soup.find_all("ul",class_="_13yb6"):
    a=i.text
    fuel.append(a.split("Owner")[1][:-5]) 

# soup.find_all("div",class_="_1Em-A")

## EMI
emi = []
for i in soup.find_all("div",class_="_1Em-A"):
    a = i.text.split("/")
    emi.append(a[0].replace("₹","").replace(",",""))

# soup.find_all("div",class_="_18ToE")

## Price
price = []
for i in soup.find_all("div",class_="_18ToE"):
    a = i.text.split("₹")
    price.append(a[1].replace(",",""))

#print(make,model,series,transmission,emi,fuel,price,owner,kilometers,year) 
#city
city=["Mumbai"]*3
# state
state = ["Maharashtra"]*3
# Mileage
mileage = [11]*3
# Seating
seating = [5]*3
d={"state":state,"city":city,"year":year,"make":make,"model":model,"series":series,"transmission":transmission,"fuel":fuel,"owner":owner,"emi":emi,
   "kilometers":kilometers,"mileage":mileage,"seating":seating,"price":price}
used_cars_mumbai_tata_tiago_data_collection = pd.DataFrame(d)
used_cars_mumbai_tata_tiago_data_collection.head()
# used_cars_mumbai_tata_tiago_data_collection.to_csv("mumbai_tata_tiago.csv")

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,Maharashtra,Mumbai,2017,Tata,Tiago,XZA 1.2 REVOTRON,Automatic,Petrol,1st,9169,29492,11,5,469000
1,Maharashtra,Mumbai,2020,Tata,Tiago,XT 1.2 REVOTRON,Manual,Petrol,1st,10792,9893,11,5,552000
2,Maharashtra,Mumbai,2022,Tata,Tiago,XZ+ CNG 1.2 RTN,Manual,CNG,1st,14624,15119,11,5,748000

In [ ]:
## mumbai_data
df1 = pd.read_csv("mumbai_ford_ecosport.csv")
df2 = pd.read_csv("mumbai_ford_freestyle.csv")
df3 = pd.read_csv("mumbai_honda_amaze.csv")
df4 = pd.read_csv("mumbai_honda_city.csv")
df5 = pd.read_csv("mumbai_honda_jazz.csv")
df6 = pd.read_csv("mumbai_hyundai_elite_i20.csv")
df7 = pd.read_csv("mumbai_hyundai_grand_i10.csv")
df8 = pd.read_csv("mumbai_hyundai_new_santro.csv")

df10 = pd.read_csv("mumbai_kia_seltos.csv")
df11 = pd.read_csv("mumbai_kia_sonet.csv")

df13 = pd.read_csv("mumbai_mahindra_thar.csv")
df14 = pd.read_csv("mumbai_maruti_baleno.csv")
df15 = pd.read_csv("mumbai_maruti_swift.csv")
df16 = pd.read_csv("mumbai_maruti_new_wagon_r.csv")

df18 = pd.read_csv("mumbai_renault_kwid.csv")
df19 = pd.read_csv("mumbai_renault_triber.csv")
df20 = pd.read_csv("mumbai_tata_altroz.csv")
df21 = pd.read_csv("mumbai_tata_nexon.csv")
df22 = pd.read_csv("mumbai_tata_tiago.csv")

In [ ]:
df_mumbai = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df10,df11,df13,df14,df15,df16,df18,df19,df20,df21,df22])

In [ ]:
#df_mumbai.to_csv("mumbai_all")